<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Checking Login Status  </h4>
        </div>
        <div class="modal-body">
        <span ng-show = "!vm.completecheckingLogin">...</span>
        <span ng-show="vm.completecheckingLogin">You dont appear to be logged in. <span ng-if = "vm.actionStatus == 'book' ">You must be logged in before you can make a booking</span>
        <span ng-if = "vm.actionStatus == 'report' ">You must be logged in before you can report</span>
        <span ng-if = "vm.actionStatus == 'update' ">You must be logged in before you can Update information</span>

        <a href="{{vm.host_url}}#/login"   target="_blank" ng-click = "vm.closeConfirmLoginModal('login')" style="cursor: pointer; margin-right: 6px;font-size: 18px;margin-left: 8px;text-decoration: underline;">Log In</a>

        <a href="{{vm.host_url}}#/register"   target="_blank" ng-click = "vm.closeConfirmLoginModal('register')" style="cursor: pointer; font-size: 18px;text-decoration: underline;">Don't have an account?</a>
        <br/>
        <!-- <span class="text-muted">Your current data will be saved</span> -->
        </span>
        </div>
    </div>
</div>

<!-- ng-click = "vm.scrollToTop(); vm.closeConfirmLoginModal('login')" -->
<!-- ng-click = "vm.scrollToTop(); vm.closeConfirmLoginModal('register')" -->

