      <div class="modal-dialog" style="width: 100%; margin: 0">

        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 0">
          <div class="modal-header">
            <button type="button" class="close close-search-modal" style="font-size: 35px">&times;</button>
            <h4 class="modal-title"><i class="fa fa-user-md position-left"></i>Find a Doctor</h4>
          </div>


          <div class="modal-body" ng-init = "vm.loadComplete = true;">
   

          <div class="row">
            <div class="col-md-3" ng-init = "vm.selectedCategory = 'Doctors' ">
              <label>Select category</label>
             <!--  <select class="form-control"> 
                <option>Doctors</option>
                <option>Nurses</option>
                <option>Clinical officers</option>
                <option>Pharmacists</option>
              </select> -->
              <select class="form-control" ng-change = "vm.changeHealthWorkerCategory(vm.selectedCategory)" ng-model="vm.selectedCategory" ng-options="item for item in ['Doctors', 'Clinical Officers', 'Pharmacists']"></select>
            </div>
         
          <!--<i ng-show="!vm.loadComplete" class="fa fa-refresh fa-spin ng-hide" style="margin-top: 27px"></i>-->

          <div class="wrapper" ng-show = "true">
            <!-- <div ng-if = "vm.selectedCategory == 'Clinical Officers' " class="col-md-2" ng-init = "vm.speciality = 'Name' ">
              <label>Search by</label>
            
              <select class="form-control" ng-change = "vm.changeHealthWorkerCategory(vm.selectedCategory)" ng-model="vm.speciality" ng-options="item for item in ['Name', 'Speciality']">
                
              </select>
            </div> -->

            <!-- <div class="clearfix"></div> -->


            <div class="col-md-5">
              <label style="visibility: hidden;">Search</label>
              <!-- <input class="form-control" placeholder="Type a name"> -->
                  <input typeahead-on-select = "vm.typeAheadSelect($item, $model, $label, $event)" uib-typeahead="member as member.name||member.full_name for member in vm.searchHealthWorker($viewValue)"  class="form-control" typeahead-loading="vm.healthLoadingWorkers" typeahead-no-results="vm.healthNoResults" typeahead-is-open = "vm.typeaheadOpenDoctors" typeahead-show-hint="true" typeahead-min-length="1" type="text" ng-model="vm.searchData" class="form-control" placeholder="Start typing a name" aria-invalid="false" style="">

                  <i ng-show="vm.healthLoadingWorkers" class="glyphicon glyphicon-refresh fa-spin"></i>
                  <div ng-show="vm.healthNoResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                  </div>
            </div>
          </div>


          </div> <!-- end of row -->

          <div class="row" ng-if = "vm.doctorResult">

            <div class="col-md-6">
              
              <h4 style="margin-bottom:10px;margin-top: 18px;"><b>{{vm.searchData.name}}</b></h4>

              <table class="table" ng-if = "vm.selectedCategory == 'Pharmacists' && vm.searchData">
                
                 <tr>
                  <td>Registration Number</td>
                  <td>{{vm.searchData.code}}</td>
                </tr>
                <tr>
                  <td><span>Company</span></td>
                  <td>{{vm.searchData.company}}</td>
                </tr>
                <tr ng-if = "vm.searchData.location">
                  <td><span>Location</span></td>
                  <td>{{vm.searchData.location }}</td>
                </tr>
              </table>

              <table ng-if = "vm.selectedCategory == 'Doctors' && vm.searchData" class="table">
                <tr>
                  <td>Qualification</td>
                  <td>{{vm.searchData.qualifications}}</td>
                </tr>

                <tr>
                  <td><span>Hospital</span></td>
                  <td>{{vm.searchData.hospital}}</td>
                </tr>

                <tr>
                  <td><span>County</span></td>
                  <td>{{vm.searchData.county }}</td>
                </tr>

                <tr>
                  <td>Email</td>
                  <td>{{vm.searchData.email}}</td>
                </tr>
              </table>

              <table ng-if = "vm.selectedCategory == 'Clinical Officers' && vm.searchData" class="table">
                <tr>
                  <td>Speciality</td>
                  <td>{{vm.searchData.speciality}}</td>
                </tr>

                <tr>
                  <td><span>Location</span></td>
                  <td>{{vm.searchData.physical_location}}</td>
                </tr>

                <tr>
                  <td><span>County</span></td>
                  <td>{{vm.searchData.county }}</td>
                </tr>

                <tr>
                  <td>Telephone</td>
                  <td>{{vm.searchData.telephone}}</td>
                </tr>

                <tr ng-if = "vm.searchData.other_contacts">
                  <td>Other contacts</td>
                  <td>{{vm.searchData.other_contacts}}</td>
                </tr>
              </table>

            </div>

            <div class="col-md-2" style="margin-top: 10px;" ng-if = "vm.searchData.name && !vm.typeaheadOpenDoctors">
              <h5><i class="fa fa-pencil-square-o position-left" aria-hidden="true"></i>Action</h5>
              <button ng-click = "vm.actionBookDoc(vm.searchData)" ui-sref="base.doctor-info" style="margin-bottom: 8px" type="button" ng-disabled = "!vm.searchData.name" class="btn btn-primary hx-button" >BOOK APPOINTMENT</button> 
              <button ng-click = "vm.action('report')" type="button" ng-disabled = "!vm.searchData.name" class="btn btn-danger hx-button" >REPORT</button> 
            </div>

          </div>

         <!--  <div class="row" ng-if = "vm.searchData.name && !vm.typeaheadOpenDoctors" style="margin-top: 10px">
            <div class="col-md-3" style="">
              <button style="margin-bottom: 8px" type="button" ng-disabled = "!vm.searchData.name" class="btn btn-primary hx-button" >BOOK APPOINTMENT</button> 
              
            </div>

            <div class="col-md-3" style="">
               <button type="button" ng-disabled = "!vm.searchData.name" class="btn btn-danger hx-button" >REPORT</button> 
            </div>
          </div> -->

          </div>

          


          <div class="modal-footer">
            <button type="button" class="btn btn-default close-search-modal" >Close</button>
          </div>
        </div>

      </div>