    
<div class="progress-filler" style="
margin: 0 0 13px;
height: 7px;
background: #0078ae;
border-radius: 4px;
position: relative;
width: 100%;
">
<span class="progress-indicator" style="
display: block;
width: 42%;
height: 7px;
background: #88ba00;
border-radius: 4px;
transition: width .4s;
">
<!--     <span class="progress-active" style="
    left: 19.3%;
    position: absolute;
    top: 100%;
    /* margin-left: 144px; */
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 8px solid #88ba00;
    transition: left .4s;
    "></span> -->
</span>
</div>

<div class="row" style="display: flex;align-items: center">
	<div class="col-md-4" style="text-align: center;padding: 0">
		<img style="display: inline-block;" src="images/icons/insure-check.png" width="80" height="68" alt="img01">
		<h4 style="">InsureCheck</h4>
		<br/>
	</div>

	<div class="col-md-8" style="border-left: 1px dashed lightgray;">
		<span style="line-height: 2;font-size: 16px;">
			<ul>
                <li>See all member and beneficiary information online without making many calls to the Insurance companies</li>
                <li>Confirm exclusions, patient history, allergies, previous prescription, 
                    lab tests and results within 10 seconds. </li>
            </ul>
        </span>
	</div>
</div> <!-- end row -->

