    
<div class="progress-filler" style="
margin: 0 0 13px;
height: 7px;
background: #0078ae;
border-radius: 4px;
position: relative;
width: 100%;
">
<span class="progress-indicator" style="
display: block;
width: 42%;
height: 7px;
background: #88ba00;
border-radius: 4px;
transition: width .4s;
">
<!--     <span class="progress-active" style="
    left: 19.3%;
    position: absolute;
    top: 100%;
    /* margin-left: 144px; */
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 8px solid #88ba00;
    transition: left .4s;
    "></span> -->
</span>
</div>

<div class="row" style="display: flex;align-items: center">
	<div class="col-md-4" style="text-align: center;padding: 0">
		<img style="display: inline-block;" src="images/icons/member_enrollment.png" width="80" height="68" alt="img01">
		<h4 style="">Member Enrollment</h4>
		<br/>
	</div>

	<div class="col-md-8" style="border-left: 1px dashed lightgray;">
		<span style="line-height: 2;font-size: 16px;">
            <ul>
                <li>No more paperforms for Insurance and Agents</li>
                <li>Use the platform to sign up all members details, photos, records without any ink and paper.</li>
                <li>Allow members to update their information online.</li>
            </ul>
		</span>
	</div>
</div> <!-- end row -->

