<div class="modal-dialog" style="width: 100%; margin: 0">

	<!-- Modal content-->
	<div class="modal-content" style="border-radius: 0">
		<div class="modal-header">
			<button type="button" class="close close-search-modal" style="font-size: 35px" >&times;</button>
			<h4 class="modal-title"><i class="fa fa-map-marker position-left"></i> Nearest facility</h4>
		</div>
		

		<div class="modal-body" ng-init = "vm.loadresComplete = true;">
			<div class="row">
				
				<div class="col-md-3">
				<label>Select facility type</label>
					<select class="form-control" ng-init="vm.selectedFacility='HOSPITAL'" ng-model="vm.selectedFacility" ng-change="vm.changeFacilityCategory(vm.selectedFacility)"> 
						<option>HOSPITAL</option>
						<option>LABORATORY</option>
					</select>
				</div>

				<div class="wrapper" ng-show="vm.loadresComplete">
				<div class="col-md-8">
					<label>Search</label>
					<!-- <input class="form-control" placeholder="Type a name"> -->
					<input typeahead-on-select = "vm.typeAheadSelectFacility($item, $model, $label, $event)" uib-typeahead="member as member.name for member in vm.searchFacility($viewValue)" class="form-control" typeahead-loading="loadingDrugs" typeahead-no-results="noResults" typeahead-is-open = "vm.typeaheadOpen" typeahead-show-hint="true" typeahead-min-length="1" type="text" ng-model="vm.facilitySearchData" class="form-control" placeholder="Search for a location near you" aria-invalid="false" style="">

					<i ng-show="!vm.loadresComplete" class="glyphicon glyphicon-refresh"></i>
					<div ng-show="noResults">
						<i class="glyphicon glyphicon-remove"></i> No Results Found
					</div>
				</div>
				</div>

			</div> <!-- end of row -->

			<div class="row" ng-if = "vm.facilityResult">
				
				<div class="col-md-6">
					<h4 style="margin-bottom:10px;margin-top: 18px;">{{vm.facilitySearchData.name}}</h4>
					<table class="table ">
						<tr>
							<td>Location</td>
							<td>{{vm.facilitySearchData.physical_address}}</td>
						</tr>
						<tr>
							<td>Type</td>
							<td>{{vm.facilitySearchData['branch type']}}</td>
						</tr>
						<tr>
							<td>Address</td>
							<td>{{vm.facilitySearchData.postal_address}}</td>
						</tr>
					</table>
				</div>

				<div class="col-md-2" style="margin-top: 10px;" ng-if = "vm.facilitySearchData.name && !vm.typeaheadOpen">
					<h5><i class="fa fa-pencil-square-o position-left" aria-hidden="true"></i>Action</h5>
					<button dw-loading="bookAppointmentLoading" dw-loading-options="{text: 'Loading...'}" show-loader loader-key = "'bookAppointmentLoading'" is-true = "vm.bookAppointmentLoading" ui-sref="base.hospital-info" ng-click = "vm.actionBookFaclty(vm.facilitySearchData)" type="button" style="margin-bottom: 5px" ng-disabled = "!vm.facilitySearchData.name" class="btn btn-primary hx-button" >BOOK APPOINTMENT  </button> 
					

					<br/> 
					<button type="button" style="margin-bottom: 5px" ng-disabled = "!vm.facilitySearchData.name" ng-click = "vm.action('update')" class="btn btn-success hx-button" >UPDATE INFORMATION</button>  <br/>
					<button type="button" ng-disabled = "!vm.facilitySearchData.name" class="btn btn-danger hx-button" ng-click = "vm.action('report')" >REPORT</button>  
				</div>

			</div>

          <!-- <div class="row"  style="margin-top: 10px">
            <div class="col-md-3" style="">
              <button type="button" ng-disabled = "!vm.facilitySearchData.name" class="btn btn-primary hx-button" >BOOK APPOINTMENT</button>  
            </div>
            <div class="col-md-3" style="width: 23%;">
              <button type="button" ng-disabled = "!vm.facilitySearchData.name" class="btn btn-success hx-button" >UPDATE INFORMATION</button>  
            </div>
            <div class="col-md-3" style="">
              <button type="button" ng-disabled = "!vm.facilitySearchData.name" class="btn btn-danger hx-button" >REPORT</button>  
            </div>
        </div> -->

    </div>



    <div class="modal-footer">
    	<button type="button" class="btn btn-default close-search-modal" >Close</button>
    </div>
</div>

</div>